<md-menu-item>
  <md-button href="/" ng-click="vm.closeMainMenu();" layout="row" layout-align="start center">
    <span>
      <md-icon>home</md-icon>
    </span>
    <span>Widget creator home</span>
  </md-button>
</md-menu-item>
<md-menu-item>
  <md-button href="/about" ng-click="vm.closeMainMenu();" layout="row" layout-align="start center">
    <span>
      <md-icon>details</md-icon>
    </span>
    <span>About</span>
  </md-button>
</md-menu-item>
<md-menu-item>
  <md-button href="/version-info" ng-click="vm.closeMainMenu();" layout="row" layout-align="start center">
    <span>
      <md-icon>info</md-icon>
    </span>
    <span>Version info</span>
  </md-button>
</md-menu-item>
<md-menu-item>
  <md-button href="https://tools.my.wisc.edu/home/" ng-click="vm.closeMainMenu();" layout="row" layout-align="start center">
    <span>
      <md-icon>widgets</md-icon>
    </span>
    <span>Other tools</span>
  </md-button>
</md-menu-item>
<md-menu-item>
  <md-button href="https://uw-madison-doit.github.io/widget-creator/" ng-click="vm.closeMainMenu();" layout="row" layout-align="start center">
    <span>
      <md-icon>book</md-icon>
    </span>
    <span>Documentation</span>
  </md-button>
</md-menu-item>
