.widget-creator .bold {
  font-weight: 600;
}

.widget-creator .portlet-body {
	padding: 10px;
}

.widget-creator .container__select-template {
	padding-bottom: 20px;
}

.widget-creator preview-widget {
	width: 300px;
}

.widget-creator .help-notes p {
	color: #999;
	font-size: 12px;
	margin-bottom: 0;
}

.widget-creator textarea {
	padding: 10px 14px;
	overflow-y: scroll;
}

.widget-creator .hint {
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: grey;
}

.widget-creator md-input-container.has-hint {
  margin-bottom: 32px;
}

.widget-creator ::-webkit-input-placeholder {
	color: @grayscale6;
	font-size: 12px;
}

.widget-creator  :-moz-placeholder { /* Firefox 18- */
	color: @grayscale6;
	font-size: 12px;
}

.widget-creator  ::-moz-placeholder {  /* Firefox 19+ */
	color: @grayscale6;
	font-size: 12px;
}

.widget-creator  :-ms-input-placeholder {
	color: @grayscale6;
	font-size: 12px;
}

.widget-middle {
	width: 315px;
	margin: auto;
}
